.container {
    background-color: rgb(234, 106, 106);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 10vh;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(245, 242, 250);
    box-shadow: rgb(237, 237, 237) 0px 4px 12px;
    height: 100vh;
}

h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%
}

input {
    padding: 8px;
    border: 1px solid rgb(240, 237, 245);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.btn_submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(112, 123, 220);
}

.btn_container {
    display: flex;
    justify-content: center;
    gap: 2vw;
}