body {
  display: flex;
  justify-content: center;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App_header {
  background-color: rgb(55, 70, 167);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  width: 70vw;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(55, 70, 167, 0.398);
}

.content_container {
  padding: 5vh;
  width: 70vw;
  background-color: rgb(220, 220, 220);
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgb(55, 137, 167);
}

.btn_container {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 5vh;
}

.form_container {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  background-color: rgb(220, 220, 220);
}

.table_container {
  display: flex;
  justify-content: center;
}

table{
  font-size: 1.2rem;
}

td {
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  transition: box-shadow 0.3s ease;
}

td:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

thead > tr > td {
  background-color: rgb(55, 70, 167);
  color: white;
}

.puntuacion {
  font-weight: bold;
  color: rgb(55, 137, 167);
}

.actions {
  display: table-cell; 
  text-align: center;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.actions_container {
  display: flex;
  justify-content: space-between;
}

.btn_action {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}